.error-section {
  display: none;
  color: #991b1b;
  background-color: #fef2f2;
  border-left: 0.3em solid #dc2626;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 80%;
}
