
# Database setup
DATABASE_URL=your_database_url_here


# Security configuration
SECRET_KEY=your_secret_key_here


# Redis configuration
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port
REDIS_PASSWORD=your_redis_password